# SPDX-FileCopyrightText: 2024 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD


# ignore the compiled binary
eambfc
*.o

# some test assets and tools that are generated locally
createminielf
minielf
can-run-linux-amd64
