# SPDX-FileCopyrightText: 2024 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD


# ignore the compiled binary
eambfc
*.o

# ignore binaries created by multibuild.sh
alt-builds/

# some test assets and tools that are generated locally
create_mini_elf
mini_elf
can-run-linux-amd64

# ctags tag file
tags
