# SPDX-FileCopyrightText: 2024 - 2025 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD

# test driver
test_driver
test_driver.o
test_utils.o

# test binaries
alternate_extension
alternate_extension.brnfck
colortest
dead_code
hello
hello.b
hello.elf
loop
null
null.bf
piped_in
piped_in.bf
rw
rw.bf
truthmachine
unmatched_close
unmatched_open
unseekable
unseekable.bf
wrap
wrap2
