# SPDX-FileCopyrightText: 2024 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD

alternative-extension
colortest
hello
loop
null
rw
too-many-nested-loops
truthmachine
wrap
wrap2
unmatched-open
unmatched-close
unseekable
dead-code

# test assets
*.build_err
